@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

:root {
  --color-white: #fff;
  --color-green-footer: #08664f;
  --color-green-btn: #0dbc91;
  --color-green-nav: #1fa181;
  --color-text-dark: #364844;
  --color-text-silver: #868686;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: var(--color-green-btn);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--color-green-btn);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--color-green-btn);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: var(--color-green-btn);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}
.button {
  color: inherit;
  background: var(--color-green-btn);
  border-radius: 50px;
  padding: 11px 24px;
  font-size: 14px;
  text-align: center;
}

.promo__img_mobile {
  display: none;
}

.mobile__address {
  display: none;
}

.button__mobile-nav {
  display: none;
}

body {
  margin: 0;
  font-family: "PT Sans Caption", sans-serif;
  line-height: 24px;
  color: var(--color-white);
  background-color: var(--color-white);
  min-height: 100%;
  font-weight: 400;
}
.container {
  max-width: 1140px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 2;
}

.header .row {
  padding: 15px 0;
}

.header .header__address {
  margin-left: 20px;
}

.header .header__city {
  font-size: 14px;
  color: var(--color-text-dark);
}

.header .header__city svg {
  margin-right: 3px;
}

.header .header__address address {
  font-size: 14px;
  color: var(--color-text-silver);
  text-align: center;
}

.header .header__phone {
  display: flex;
  align-items: center;
  color: var(--color-text-dark);
  flex-shrink: 1;
  text-decoration: none;
  gap: 9px;
  transition: color 0.5s ease;
}

.header .header__phone:hover {
  color: var(--color-green-btn);
}

.header .header__contacts {
  display: flex;
  justify-content: flex-end;
  gap: 35px;
}

.sub-header {
  background-color: var(--color-green-nav);
  padding: 10px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav .nav__link {
  color: var(--color-white);
  transition: color 0.5s ease;
}

.nav .nav__link:hover {
  color: var(--color-green-footer);
}

.promo {
  margin-top: 122px;
  min-height: 533px;
  background: url("../assets/images/promo-bg.jpg") center right no-repeat;
}

.promo .promo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: var(--color-text-dark);
  margin-top: 144px;
}

.promo .promo__text {
  color: var(--color-text-dark);
  margin-top: 14px;
}

.check-up {
  padding: 100px 0 160px 0;
}

.check-up .check-up__block {
  display: flex;
}

.check-up .check-up__wrap {
  width: 100%;
  max-width: 448px;
  display: flex;
  flex-direction: column;
  padding: 53px 0 53px 63px;
}

.check-up .check-up__image {
  max-width: 666px;
  clip-path: polygon(9% 0, 100% 0, 100% 100%, 33% 100%);
}
.check-up .check-up__image img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.check-up .check-up__title {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 49px;
  color: var(--color-text-dark);
}

.check-up .check-up__text {
  font-size: 22px;
  color: var(--color-text-dark);
}

.check-up .check-up__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 16px 0 0 0;
}

.check-up .check-up__price {
  margin-top: 33px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.check-up .check-up__price .new-price {
  font-size: 20px;
  color: var(--color-text-dark);
}

.check-up .check-up__price .old-price {
  text-decoration-line: line-through;
  color: var(--color-text-silver);
}

.check-up .check-up__list li::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--color-green-nav);
  display: block;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.check-up .check-up__list li {
  color: var(--color-text-dark);
  position: relative;
  padding-left: 16px;
}

.check-up .check-up__block {
  display: flex;
  gap: 14px;
  margin-top: 26px;
}

.check-up .check-up__block .check-up__button {
  padding: 10px 54px;
  background: var(--color-green-btn);
  border-radius: 50px;
  color: var(--color-white);
  text-align: center;
}

.check-up .check-up__block .check-up__button-more {
  border: 1px solid #0dbc91;
  border-radius: 50px;
  padding: 10px 54px;
  color: var(--color-green-btn);
  text-align: center;
}

.check-up__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  width: 100%;
  height: 40px;
  margin-top: 39px;
}

.custom-pagination {
  font-size: 18px;
  color: #c0c0c0;
  white-space: nowrap;
  width: 40px;
}
.custom-prev {
  width: 34px;
  height: 34px;
  order: 1;
}

.custom-next {
  width: 34px;
  height: 34px;
}

.swiper-pagination-current {
  color: var(--color-text-dark);
}
.modal-header {
  border-bottom: none;
}
.modal-title {
  color: var(--color-text-dark);
  text-align: center;
}

.modal-body {
  color: #364844;
}
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 20px;
}

.form input {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #0dbc91;
  border-radius: 50px;
  border-radius: 20px;
  color: #0dbc91;
}

.form__button {
  width: 100%;
}

.modal-body {
  padding: 30px;
}

.footer {
  background-color: var(--color-green-footer);
  padding: 60px 0;
}

.footer .footer__social a {
  display: block;
  width: 35px;
  height: 35px;
}

.footer .footer__nav {
  display: flex;
  gap: 30px;
}

.footer .footer__nav .footer__nav-link {
  color: var(--color-white);
  transition: color 0.5s ease;
}

.footer .footer__nav .footer__nav-link:hover {
  color: var(--color-green-btn);
}

.footer .footer__social {
  display: flex;
  align-items: center;
  gap: 15px;
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .footer .row {
    flex-direction: column;
    gap: 20px;
  }

  .footer .footer__social {
    justify-content: center;
  }

  .footer .footer__nav {
    justify-content: center;
  }

  .header .header__address {
    margin-left: 0;
  }
  .header .header__city {
    white-space: nowrap;
  }

  .check-up .check-up__wrap {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .header__address {
    display: none;
  }

  .button__mobile {
    display: none;
  }

  .header__phone svg {
    display: none;
  }

  .header__phone {
    align-self: flex-end;
  }

  .mobile__address {
    display: block;
    font-size: 13px;
    text-align: right;
    color: #364844;
  }
  .header .header__contacts {
    flex-direction: column;
    gap: 0;
  }

  .footer .footer__nav {
    flex-direction: column;
  }

  .check-up .check-up__block {
    flex-direction: column-reverse;
  }
  .check-up .check-up__wrap {
    max-width: 100%;
  }

  .check-up .check-up__image {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .sub-header {
    display: none;
  }
  .header .row {
    padding-top: 14px;
    padding-bottom: 7px;
  }
  .header .header__logo svg {
    width: 62px;
    height: 19px;
  }
  .promo {
    margin-top: 96px;
  }
  .check-up .check-up__image {
    max-width: 320px;
    height: 200px;
    clip-path: none;
    margin: 0 auto;
  }

  .check-up .check-up__wrap {
    padding: 20px 20px;
  }

  .check-up__pagination {
    margin-top: 10px;
  }

  .footer .footer__social {
    justify-content: start;
  }

  .promo {
    background: none;
  }

  .promo .promo__title {
    margin-top: 34px;
  }

  .promo__img_mobile {
    height: 288px;
  }

  .promo__img_mobile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .promo__img_mobile {
    display: block;
  }

  .check-up {
    padding: 40px 0;
  }
  .footer {
    padding: 30px 0;
  }

  .promo .promo__title {
    font-size: 26px;
  }

  .promo .promo__text {
    margin-top: 9px;
  }

  .header__logo {
    margin-left: 97px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37px;
    height: 26px;
    position: absolute;
    top: 24px;
    left: 17px;
    cursor: pointer;
  }

  .burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--color-green-nav);
  }

  .burger__active {
    height: 29px;
  }

  .burger__active span:nth-child(1) {
    transform: rotate(45deg);
    transition: 0.4s;
    position: absolute;
    top: 40%;
    right: 0;
  }

  .burger__active span:nth-child(2) {
    display: none;
  }
  .burger__active span:nth-child(3) {
    transform: rotate(-45deg);
    transition: 0.4s;
    padding: 2px;
    position: absolute;
    bottom: 50%;
    left: 0;
  }

  .nav__mobile {
    display: none;
    background: rgba(69, 146, 127, 0.9);
    backdrop-filter: blur(15px);
    height: 100vh;
    transition: 0.4s;
  }

  .nav__mobile__active {
    display: block;
  }

  .nav__mobile nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 48px;
    margin-left: 19px;
  }

  .button__mobile-nav {
    display: block;
    background: #f6f6f6;
    padding: 11px 24px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-green-nav);
    margin-top: 50px;
  }

  .modal-body {
    padding: 20px;
  }

  .modal-body .form {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
